<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Awesome Acorn</title>
</head>
<body>
    <div class="container">
        <h1>Awesome Acorn!</h1>
        <h2 style="color: red">{{ greeting }}</h2>
        <form action="" method="post">
            <input type="email" name="email" placeholder="Email">
            <input type="submit" value="Subscribe">
            {% if error %}
            <p style="color: red">{{ error }}</p>
            {% endif %}
        </form>
        <h2>Subscribers</h2>
        <ul>
            {% for subscriber in subscribers %}
            <li>{{ subscriber }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
